<div class="">
    <app-header [size]="3" label="Search for a post" class="text-(--secondary-darker)"></app-header>

    <form [formGroup]="searchFormGroup" class="my-6 sm:flex items-center gap-4" (ngSubmit)="handleOnButtonClick(); $event.preventDefault()">
        <div
            class="border-2 border-(--primary-lighter) rounded flex items-center relative"
            [ngClass]="{'ring-2 ring-(--light-gray)': showFocusEffect}">

            <i class="bi bi-search px-3 text-white"></i>
            <input
                type="text"
                formControlName="postInputForm"
                class="placeholder-(--light-gray) text-white outline-none focus:ring-0 placeholder:italic py-1.5 pr-3 rounded"
                placeholder=""
                (focus)="handleOnInputFocus()"
                (blur)="handleOnInputBlur()">

            @if(searchFormGroup.invalid && searchWasCalled){
                <p class="text-red-500 text-xs md:text-sm absolute top-22 sm:top-10">Minimum of 3 characters</p>
            }
        </div>


        @if (isSearchExecuting) {
            <div class="loader-spinner"></div>
        }

        @if (!isSearchExecuting) {
            <button
                type="submit"
                class="flex-none bg-(--secondary-darker) text-(--primary-darker) rounded h-full py-1.5 px-2.5 w-full sm:size-fit mt-2 sm:mt-0 hover:cursor-pointer active:bg-(--secondary)"
                >Search
            </button>
        }

    </form>


</div>


@if(displaySearchResults) {
<div class="mt-15">

    <app-header [size]="5" label="Results: " class="text-white"></app-header>

    @if (blogPostList.length === 0) {
        <app-p-text class="text-(--light-gray)">
            <i class="bi bi-exclamation-circle"></i>
            <span class="italic ml-2">No posts found</span>
        </app-p-text>
    } @else {
        <app-p-text class="text-white">Found {{blogPostList.length}} results</app-p-text>
    }

    @for (post of blogPostList; track $index) {
        <a [routerLink]="['/', 'blog', 'posts', post.id]">
            <app-card extraClasses="p-3 sm:p-6 text-(--primary-darker) my-6">
                <p class="header-5">{{post.title}}</p>

                <div class="text-sm mt-2">
                    <i class="bi bi-calendar3 mr-1"></i>
                    <span class="text-sm italic">
                        {{ post.createdTimestampMiliseconds | fromUnixEpochMilisecondsToDayMonthYear }}
                        {{ post.createdTimestampMiliseconds | fromUnixEpochMilisecondsToCustomTimeAgo }}
                    </span>
                </div>

                <p class="p-text" [innerHTML]="post.body | fromHtmlToHighlightedString:highlightedSection:200 "></p>
            </app-card>
        </a>
    }

</div>
}
