<nav class="flex items-center justify-between px-3 py-2 text-white bg-(--primary-darker)">

    <p>Welcome to my blog</p>

    <div class="cursor-pointer text-(--secondary)" >
        @switch (activeTheme) {
            @case (themeEnum.DARK) {
                <i class="bi bi-moon-stars-fill" (click)="changeAppThemeTo(themeEnum.LIGHT)"></i>
            }
            @case (themeEnum.LIGHT) {
                <i class="bi bi-sun-fill" (click)="changeAppThemeTo(themeEnum.DARK)"></i>
            }
            @default {

            }
        }
    </div>

</nav>
