<div class="sm:mx-6 md:mx-15 lg:mx-30 mb-15 mt-3">
    <app-header [label]="blogPost.title" [size]="2" class="text-(--secondary-darker)"></app-header>

    <!-- creation and last update section -->
    <div class="text-sm mt-2 text-(--secondary-font-color)">
        <i class="bi bi-calendar3 mr-1"></i>
        <span class="italic">
            {{ blogPost.createdTimestampMiliseconds | fromUnixEpochMilisecondsToDayMonthYear }}
            {{ blogPost.createdTimestampMiliseconds | fromUnixEpochMilisecondsToCustomTimeAgo }}
        </span>
    </div>

    @if(blogPost.mainImage !== undefined) {
    <app-image [src]="blogPost.mainImage.src" [caption]="blogPost.mainImage.caption"
        extraTailwindClasses=" my-10"></app-image>
    }

    <!-- the container that holds the body of the post -->
    <div class="mt-5 text-(--primary-font-color) text-justify" [innerHTML]="blogPost.body"> </div>

    <hr class="my-4 border-(--secondary-font-color)">

    <p class="text-sm italic text-center md:text-end text-(--secondary-font-color)">
        Last edited:
        {{ blogPost.lastUpdatedTimestampMiliseconds | fromUnixEpochMilisecondsToDayMonthYear }} at
        {{ blogPost.lastUpdatedTimestampMiliseconds | fromUnixEpochMilisecondsToHourMinuteSecond }}
    </p>

</div>

<!-- put similar posts here later -->
<div class="sm:mx-6 md:mx-15 -mt-3 mb-10">

    <app-header label="Related posts" [size]="4" class="text-(--primary-font-color)"></app-header>

    <div class="mt-5">

        @if(relatedPosts.length === 0) {
        <app-p-text class="text-(--secondary-font-color)">
            <i class="bi bi-exclamation-circle"></i>
            <span class="italic ml-2">No related posts available</span>
        </app-p-text>
        }

        @for (post of relatedPosts; track $index) {
        <app-blog-post-card [blogPost]="blogPost"></app-blog-post-card>
        }
    </div>

</div>
