<div class="flex items-center justify-center h-screen">
  <div class="flex flex-col gap-5 text-center py-6">

    <app-header [size]="2" label="Page not found"></app-header>

    @if (redirectedLink) {
      <div class="my-10">
        <p>Ops, it appears this page:</p>
        <p class="underline">{{redirectedLink}}</p>
        <p><b>does not exist</b></p>
      </div>
    } @else {
      <p>Ops, it appears this page does not exist!</p>
    }

    <p>Go to <a routerLink="/portfolio" class="underline">my portfolio</a> or <a routerLink="/blog" class="underline">my blog</a></p>

  </div>
</div>

