<app-header [size]="2" label="Welcome" class="text-(--primary-font-color)"></app-header>

<p class="text-(--primary-font-color) mt-3">
    Hello, my name is Wilson and this is a blog I created primarily for myself. I enjoy writing very much and most of time I do it for myself and although I don't enjoy social media, nor do I have a presence in it, even still I would like to create something that other people maight see one day.
</p>

<p class="text-(--primary-font-color) mt-3">
    Posts here belong to a variety of topics such as coding, technology and even art or culture. Note that all of them represent my personal opinion.
</p>

<p class="text-(--primary-font-color) mt-3">
    I hope these words find you well! God bless :)
</p>

<!-- <hr class="my-6 border-(--primary-font-color)">

<app-header [size]="4" label="Recent posts" class="text-(--primary-font-color)"></app-header> -->
