<section class="text-white md:mx-10 lg:mx-30 xl:mx-60">
    <app-header [size]="3" label="Update history"></app-header>
    <!-- <app-p-text>
        This a list with the main updates for this blog. I like to register dates, especially for things that have
        meaning to me, and this is a good opportunity to do so.
    </app-p-text> -->

    <ul class="flex flex-col gap-3 mt-7">
        <li>
            <app-card extraClasses="p-3">
                <i class="bi bi-calendar3 mr-2"></i>
                <span class="font-bold">{{ 1753728875273 | fromUnixEpochMilisecondsToDayMonthYear}}</span>
                <app-p-text>Version 1.0 is launched in English-US at the github
                    pages. Also with a theme support for dark and light themes</app-p-text>
            </app-card>
        </li>
    </ul>

</section>
