<div class="sm:mx-6 md:mx-15 lg:mx-30 xl:mx-70 mb-15 mt-3">
    <app-header label="Why is Tailwind so good?" [size]="2" class="text-(--primary-font-color)"></app-header>

    <div class="text-sm mt-2 text-(--secondary-font-color)">
        <i class="bi bi-calendar3 mr-1"></i>
        <span class="italic">
            {{ 1753815742788 | fromUnixEpochMilisecondsToDayMonthYear }}
            {{ 1753815742788 | fromUnixEpochMilisecondsToCustomTimeAgo }}
        </span>
    </div>

    <app-image src="https://vabadus.es/images/cache/imagen_nodo/images/articulos/64b524021adc5990918944.png"
        extraTailwindClasses="my-10"></app-image>

    <div class="mt-5 text-(--primary-font-color) text-justify">

        <p class="p-text">
            For anyone that has ever worked with web development working with CSS can be frustraing to say the least. It has so many exceptions and wierd behaviors that I feel like fighting against it sometimes, to the point of almost being scared of it. Crazy, isn't? But that was the feeling I and maybe other people had.
        </p>

        <p class="p-text">
            To "solve" or at at least easy this pain lots of tools, libraries and all types of solutions that either modify or override CSS styling were created. Today I would like to talk about one that is loved by many (including me) and for good reasons: <b>Tailwind CSS</b>.
        </p>

        <p class="p-text">
            The official documentation describe it as:
        </p>

        <p class="p-text italic mx-10">
            "A utility-first CSS framework packed with classes like flex, pt-4, text-center and rotate-90 that can be composed to build any design, directly in your markup."
        </p>

        <p class="p-text">
            That description is accurate and although tailwind is much more than that I like to think of it as <i>just</i> a bunch of pre-written vanilla CSS classes, just like the ones you or me would create. Then I just put the class inside the html and you are done.
        </p>

        <p>
            Now, you may ask: <i>"why not to just write the classes inside any .css file?"</i> Well, the following image shows a brief example of how the same component (a card) can be created:
        </p>

        <figure class="figure-image">
            <img src="images/tailwind-vs-vanilla-css.png" alt="">
            <figcaption>Comparison between vanila css and tailwind</figcaption>
        </figure>

        <p class="p-text">
            As you can see, it's easy to convert large amounts of vanilla css classes into short, low-level and reusable styles. Not only that, tailwind also offers another quality of life breakpoints. If
        </p>

        <p>Large CSS files can get giantic and</p>

        <p class="p-text">
            I work mainly with the Angular Framework (this app is built with it by the way). Angular has something called a <b>component</b>, which is just a regular Javascript/Typescript class that can be associated with some html, called <b>template</b>
        </p>

    </div>

    <hr class="my-4 border-(--secondary-font-color)">

    <p class="text-sm italic text-center md:text-end text-(--secondary-font-color)">
        Last edited:
        {{ 1753815742788 | fromUnixEpochMilisecondsToDayMonthYear }} at
        {{ 1753815742788 | fromUnixEpochMilisecondsToHourMinuteSecond }}
    </p>

</div>
