<div class="sm:mx-6 md:mx-15 lg:mx-30 mt-8">
    <app-header label="Writing against chaos and disorder" [size]="2" class="text-(--secondary-darker)"></app-header>

    <div class="text-sm mt-2 text-white">
        <i class="bi bi-calendar3 mr-1"></i>
        <span class="italic">
            {{ 1753815742788 | fromUnixEpochMilisecondsToDayMonthYear }}
            {{ 1753815742788 | fromUnixEpochMilisecondsToCustomTimeAgo }}
        </span>
    </div>

    <div class="my-12">
        <app-image src="https://s3.sa-east-1.amazonaws.com/3818-8873-5111.page-blog-bucket/images/harkers-diary.png"></app-image>
    </div>

    <div class="text-white text-justify">

    <p class="p-text">
        If you ever read anything about vampires I bet it would be hard (although not impossible) to find positive descriptions of them. Rarely they are shown to be compassionate or empathic, much less virtuous beings. Commonly described as parasites, they often embody the most disgusting aspects of humanity: greed, lust, sadism, gluttony and both physical and emotional violence.
    </p>

    <p class="p-text italic text-center text-(--secondary-darker)">
        Spoiler warning!
    </p>

    <p class="p-text">
        When Bram Stoker wrote Dracula he put Jonathan Harker in contact with some nasty creatures. These creatures are people, sure, although not physically like us they are certainly humans in the psychological sense.
    </p>

    <p class="p-text">
        Harker starts his journey from England to Transylvania expecting a regular (and certainly enjoyable) travel. Between each of the beautiful landscapes Stoker describes an eerie feeling in the air grows as he approaches his destination.
    </p>

    <p class="p-text">
        Most people in the region express shock and fear upon discovering Harker is heading to the castle, where the Count lives. So dreadful is the situation they find him in that some even beg him not to go! Can you imagine that? He naturally discounts their words as local superstition, but it's hard not to feel somewhat bad when ignoring their sincere cries, a sentiment Jonathan shares openly in his diary.
    </p>

    <p class="p-text">
        By the way, the whole story is written in documents, letters, diaries and other written formats. People don't talk to us, ever. They talk with each other and a lot of times with themselves, which is the case with Harker's diary entries, in the first chapters. You really get the impression Jonathan is a smart man, versed in books and literature. He even quotes Shakespeare during one of his crises. His desire to share his experiences provides us with an interesting albeit terrifying scenario: the feeling of total loss of control over one's own life.
    </p>

    <p class="p-text">
        Although the travel to Count Dracula's castle had its fair share of oddities, the stay at the castle itself proved to be much worse, but not at the beginning. The Count is an interesting figure, he's tall, pale and with a somewhat sickly appearance, but strong, menacing in posture and terrifyingly eloquent. His monologues are delivered with passion, bathed in references from past events, where he puts himself above the common folk (or peasants as he likes to call them).
    </p>

    <p class="p-text">
        Their relationship starts amicable and respectful, though eventually the façade fades away rather quickly I would say, and thanks to a combination of obstinance, boldness and a bit of stupidity the Englishman finds himself a prisoner in his own room. Fully aware of the Count's and the other inhabitants' true nature and their sinister plans.
    </p>

    <p class="p-text">
        Harker's realization, I think, it's experienced by all of us from time to time: the world is such a chaotic, unforgiving mess that sometimes I wonder how anything can be done.
    </p>

    <p class="p-text">
        Suddenly all the villagers' warnings, at time taken as delusions born from ignorance and poverty, became words of wisdom and compassion. And the esteemed Jonathan Harker amidst all the chaos and fear had only its diary, the same piece of text that we are reading to console himself.
    </p>

    <p class="p-text italic text-center text-(--secondary-darker) md:mx-10 xl:mx-20">
        <i class="bi bi-quote text-2xl md:text-3xl"></i>
        ... for now, feeling as though my own brain were unhinged or as if the shock had come which must end in its
        undoing, I turn to my diary for repose. The habit of entering accurately must help to soothe me.
        <i class="bi bi-quote text-2xl md:text-3xl rotate-180-manual"></i>
    </p>

    <p class="p-text">
        It's hard not to feel sad for Jonathan, but for all his problems he made a conscious decision of not giving up thanks in part, I think, to his own words, written in a piece of paper. There's something uniquely human about translating thoughts into words, like making your own mind a real thing (even though it already is).
    </p>

    <p class="p-text">
        Jonathan Harker didn't lose control of his life, even as a prisoner he still had a hand on his own path, his own destiny. There's one particular scene, where a woman suffers a tragical death while searching for her baby that, unfortunately, had a worse than tragical end. Their names are lost in both story and history, but not their memory, or at least the acknowledgment of their existence and their suffering. What would be of them without Jonathan and his diary? The poor man was powerless to save them, but completely self aware of his own situation, and decided to share with himself that single moment where despair and scream gave birth to peace and sorrow. His daring immortalized them and I think in some sense they never died alone truly.
    </p>

    <p class="p-text">
        What should I call this if not a miracle, in the most literal sense of the word? To think humans have the extraordinary ability to see order and chaos in a universe <i>looks</i> indifferent to our existential challenges. Such events feel so rare and special yet we constantly experience them, talking with other people, reading some random text or even a book.
    </p>

    <p class="p-text">
        As for myself, while writing this, I contemplate how many people have turned Jonathan Harker into their own Hamlet while prisoners of their own Dracula's Castles.
    </p>
</div>

    <hr class="my-8 border-white">

    <p class="text-sm italic text-center md:text-end text-white">
        Last edited:
        {{ 1753815742788 | fromUnixEpochMilisecondsToDayMonthYear }} at
        {{ 1753815742788 | fromUnixEpochMilisecondsToHourMinuteSecond }}
    </p>

</div>
