/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
    --primary: #254660;
    --primary-darker: #0d2d46;
    --primary-lighter: #3f627c;

    --secondary: #DCBF83;
    --secondary-darker: #dda027;
    --secondary-lighter: #e6d0a4;

    /* Theme-related colors */
    --primary-background-color: ;
    --secondary-background-color: ;
    --primary-font-color: ;
    --secondary-font-color: ;
}

html {
  scroll-behavior: smooth;
}
